@font-face {
    font-family: 'Mukta';
    src: url('../fonts/mukta-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Mukta';
    src: url('../fonts/mukta-bold.woff2') format('woff2');
    font-weight: bold;
}

body {
    --main-text-color: #303030;
    --main-background-color: #1cb5e4;
    --article-background-color: #0f73d1;
    --h2-ul-background-color: #d3e2e9;
    --li-color: #505050;
    font: calc(1*16*100/360*1vw)/1.35 "Mukta", sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    padding: 3em 15vw 4em;
    text-wrap: balance;
}

#logoDarkMode {
    display: none;
}

@media (prefers-color-scheme: dark) {
    body {
        --main-text-color: #ffffff;
        --main-background-color: #004d4d;
        --article-background-color: #016d6d;
        --h2-ul-background-color: #002222;
        --li-color: #d8d8d8;
    }

    #logo {
        display: none;
    }

    #logoDarkMode {
        display: block;
    }
}

:focus-visible {
    outline: var(--article-background-color) solid 3px;
}

h1 {
    margin: 0 auto 1.5em;
}

input {
    font: inherit;
    width: 100%;
    padding: 0.35em 1em;
    border-radius: 1em;
    margin-bottom: 3em;
    color: var(--main-text-color);
    background-color: var(--h2-ul-background-color);

    &::placeholder {
        color: inherit;
        opacity: 60%;
    }
}

#fetchResponse {
    display: grid;
    row-gap: 3em;
}

article {
    border-radius: 1.5em;
    background-color: var(--article-background-color);
    overflow: hidden;

    img {
        display: block;
        width: 60%;
        border-radius: 50%;
        margin: 1.25em auto;
    }
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding: 0.25em 0;
    background-color: var(--h2-ul-background-color);
}

ul {
    height: 100%;
    padding: 1.25em;
    color: var(--li-color);
    background-color: var(--h2-ul-background-color);
}

button {
    border-radius: 1em;
    padding: 0.5em 1em;
    color: var(--main-text-color);
    background-color: var(--h2-ul-background-color);
    margin: 2em auto 0;
}

a {
    position: fixed;
    bottom: 0.65em;
    right: 0.65em;
}

svg {
    width: 2em;
    fill: #ffffff;
}

@media screen and (541px <=width) {
    body {
        font-size: clamp(1em, calc(1*16*100/600*1vw), 1.25em);
        padding: 3em 7.5vw 4em;
    }

    h1 {
        width: 80%;
        margin-bottom: 2em;
    }

    input {
        font-size: 1.25em;
        width: 75%;
        display: block;
        margin: 0 auto 2.5em;
    }

    #fetchResponse {
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

    svg {
        width: 1.5em;
    }
}

@media screen and (1083px <=width) {
    body {
        font-size: clamp(1em, calc(1*16*100/1366*1vw), 1.25em);
        padding: 5em 7.5vw 6em;
    }

    h1 {
        width: 50%;
        margin-bottom: 2.5em;
    }

    input {
        width: 50%;
    }

    #fetchResponse {
        grid-template-columns: repeat(4, 1fr);
        gap: 2.5em;
    }

    a {
        bottom: 1em;
        right: 1.5em;
    }

    svg {
        width: 2.5em;
    }
}

@media (scripting: none) {
    main {
        display: none;
    }

    dialog[open] {
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em;
    }
}